.container {
  width: 100%;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  justify-content: center;
}

.content__container {
  margin-top: 5%;
  background-color: white;
}

.item__container {
  background-color: #f2f2f7;
  margin: 25px 0;
  height: 100px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
}

.green__container {
  background-color: #34c759;
  width: 7%;
  height: 100%;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__text {
  color: white;
  transform: rotate(-90deg);
  font-size: 1.2rem;
}
.main__container {
  background-color: #f2f2f7;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.button__container {
  background-color: #ff9500;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0.5rem;
  border-radius: 20px;
}

.title__text {
  font-size: 1.3rem;
  color: #949193;
  margin-bottom: 10px;
}

.form__label:first {
  margin-top: 20px;
}
.form__label {
  font-size: 0.8rem;
  color: #5f556a;
}

.form__value {
  font-size: 0.8rem;
  color: #8ea9d0;
  font-family: Arial, Helvetica, sans-serif;
}
